div{
  height: 90vh;
  overflow-y: hidden;
}

form{
  padding: 10px;
}

button{
  color: white!important;
}

p{
  width: 250px;
  font-size: 14px;
  color: rgb(177, 177, 177);
  font-family: 'Roboto', 'sans-serif';
  font-style: italic;
}

mat-error{
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px){
  form{
    border-left: none;
    width: 80%;
  }
}
